@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* *********** UNIVERSAL *********** */
* {
    font-family: 'Comfortaa', cursive;
}

.nbs-display-none {
    display: none;
}

/* *********** BODY TAG *********** */
body {
    background-color: #17E9E0;
}


/* *********** HEADER TAG *********** */
.nbs-titleArea {
    height: 12vh;
}

.nbs-menuArea {
    height: 10vh;
    background-color: hotpink;
}

.nbs-menuArea .row {
    height: 100%;
    width: 100%;
}


/* *********** SECTION 1.1 - THE GAME MENU *********** */
.nbs-menuArea button {
    background-color: #FCCD04;
    width: 30%;
    height: 6vh;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
}


/* *********** SECTION 2.1 - OPENING SCREEN *********** */
.nbs-openingScreenArea {
    height: 70vh;
    background-color: violet;
}

.nbs-openingScreenArea img {
    width: 100%
}


/* *********** SECTION 2.2 - START GAME SCREEN *********** */
.nbs-startGameArea {
    height: 70vh;
    background-color: #A64AC9;
}

.nbs-buttonCollection {
    width: 100vw;
}

.nbs-difficultyButton {
    background-color: #FFB48F;
    border: none;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    width: 100%;
    border-radius: 2rem;
}

.nbs-difficultyButton p {
    background-color: transparent;
}


/* *********** FOOTER *********** */
.nbs-footerArea {
    height: 8vh;
    background-color: gray;
}

.nbs-socialm-icon-dec {
    color: #A64AC9;
    font-size: 1.5rem;
}