@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* *********** UNIVERSAL *********** */
* {
    font-family: 'Comfortaa', cursive;
}


/* *********** BODY TAG *********** */
body {
    background-color: #17E9E0;
}


/* *********** HEADER TAG *********** */
.nbs-titleArea {
    height: 12vh;
}

.nbs-menuArea {
    height: 10vh;
}

.nbs-menuArea .row {
    height: 100%;
    width: 100%;
}

/* *********** SECTION 1.1 - THE GAME MENU *********** */
.nbs-menuArea button {
    background-color: #FCCD04;
    width: 30%;
    height: 6vh;
    border: 2.5px solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
}

