@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* *********** UNIVERSAL *********** */
* {
    font-family: 'Comfortaa', cursive;
}

.nbs-display-none {
    display: none;
}

.nbs-section2Area {
    height: 62vh;
}

.nbs-height100Percent {
    height: 100%;
}


/* *********** BODY TAG *********** */
body {
    background-color: #17E9E0;
}


/* *********** HEADER TAG *********** */
.nbs-titleArea {
    height: 12vh;
}


/* *********** SECTION 1.1 - THE GAME MENU *********** */
.nbs-menuArea {
    height: 10vh;
    /* background-color: hotpink; */
}

.nbs-menuArea .row {
    height: 100%;
    width: 100%;
}
.nbs-menuArea button {
    background-color: #FCCD04;
    width: 30%;
    height: 6vh;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    overflow: hidden;
}


/* *********** SECTION 1.2 - GAME INFO *********** */
.nbs-gameInfoArea {
    height: 10vh;
}

.nbs-gameInfoAreaFont {
    font-size: 2rem;
}


/* *********** SECTION 1.3 - GAME OPTIONS *********** */
.nbs-gameOptionsArea {
    height: 8vh;
    /* background-color: darkolivegreen; */
}

.nbs-gameOptionsIconAll i {
    color: #A64AC9;
    margin-inline: 0.5rem;
    font-size: 2rem;
}


/* *********** SECTION 2.1 - OPENING SCREEN *********** */
.nbs-openingScreenArea img {
    width: 100%
}

/* *********** SECTION 2.2 - HOW TO PLAY SCREEN *********** */
.nbs-card {
    overflow-y: auto;
    background-color: #F5E6CC;
    background-color: #FFB48F;
    height: fit-content;
    height: 80%;
    position: relative;
    border: 0.25rem solid black;
    border-radius: 1.5rem;
}

.nbs-cardBody {
    background-color: transparent;
    flex: none; 
}


/* *********** SECTION 2.3 - START GAME SCREEN *********** */
.nbs-buttonCollection {
    width: 100vw;
}

.nbs-difficultyButton {
    background-color: #FFB48F;
    border: none;
    border: 0.3rem solid black;
    border-radius: 0.5rem;
    width: 100%;
    border-radius: 2rem;
}

.nbs-difficultyButton p {
    background-color: transparent;
}


/* *********** SECTION 2.5 - THE GAME *********** */
/* HEAD CARDS */
.nbs-headCardsArea {
    height: 20vh;
    /* background-color: #A64AC9; */
}

.nbs-headCard {
    background-color: #FCCD04;
    font-size: 3.5rem;
    /* height: 90%; */
    height: 18vh;
    /* width: 30%; */
    width: 18vh;
    border: 0.35rem solid black;
    border-radius: 2%;
    border-radius: 15%;
}

/* FIELD CARDS */
.nbs-fieldCardsArea {
    min-height: 50vh;
    /* background-color: lemonchiffon; */
}

.nbs-fieldCard {
    background-color: #FFB48F;
    height: 15vh;
    width: 15vh;
    border: 4px solid black;
    border: 0.3rem solid black;
    border-radius: 15%;
}

.nbs-fieldCard i {
    font-size: 2.5rem;
}

.nbs-bg-correct {
    background-color: green;
}

.nbs-bg-incorrect {
    background-color: maroon;
}

/* *********** FOOTER *********** */
.nbs-footerArea {
    height: 8vh;
    background-color: gray;
    /* background-color: #A64AC9; */
    background-color: #F5E6CC;
    /* background-color: #FFB48F; */
}

.nbs-socialm-icon-dec {
    color: #F5E6CC;
    color: #FFB48F;
    color: #A64AC9;
    font-size: 1.5rem;
}